<div>
    <div id="team-table">
        <div class="flex-row">
            <div class="col-5-lg padding-none">
                <h1>{{vm.title}}</h1>
            </div>
            <div class="col-7-lg padding-none">
                <!--<button class="purple-flat-button table-button">Add Team</button>-->
            </div>
        </div>
        <div class="flex-row" id="table-title-row">
            <div class="col-4-xs"><h3>Name</h3></div>
            <div class="col-4-xs"><h3>Team Members</h3></div>
            <div class="col-4-xs"><h3>Tickets Assigned</h3></div>
        </div>
        <div ng-repeat="team in vm.teams" ng-click="vm.goToTeam(team.id)">
            <div class="flex-row table-row">
                <div class="col-4-xs">{{team.name}}</div>
                <div class="col-4-xs">{{team.teamMemberIds.length}}</div>
                <div class="col-4-xs">{{team.assignedIssueIds.length}}</div>
            </div>
        </div>
    </div>
    <form>
        <div id="team-creator">
            <label>Create Team:</label>
            <input type="text" placeholder="Team Name" ng-model="vm.newTeam.name"/>
            <button class="green-flat-button table-button" ng-disabled="vm.newTeam.name.length === 0" ng-click="vm.createTeam()">Submit</button>
        </div>
    </form>
</div>