<div id="ticket-table">
    <div class="flex-row">
        <div class="col-5-lg padding-none">
            <h1 class="margin-none">{{vm.title}}</h1>
        </div>
        <div class="col-7-lg padding-none">
            <button class="red-flat-button table-button" ng-click="vm.goToCreateTicket()">Add Ticket</button>
            <button class="red-flat-button table-button" ng-click="vm.toggleClosedFilter()">See {{vm.showClosedOnly ? "All" : "Closed"}}</button>
            <button class="red-flat-button table-button" ng-click="vm.toggleOpenFilter()">See {{vm.showOpenOnly ? "All" : "Open"}}</button>
        </div>
        </div>
        <div class="flex-row" id="table-title-row">
            <div class="col-3-xs col-2-md " ng-click="vm.reverse=!vm.reverse; vm.order('name', vm.reverse)">
                <h3>Name</h3>
            </div>
            <div class="col-1-xs col-2-md type"  ng-click="vm.reverse=!vm.reverse; vm.order('priority', vm.reverse)">
                <h3>Priority</h3>
            </div>
            <div class="col-3-xs col-2-md">
                <h3>
                    Website
                </h3>
            </div>
            <div class="col-1-xs col-2-md team" ng-click="vm.reverse=!vm.reverse; vm.order('assignedTeamId', vm.reverse)">
                <h3>
                    Team
                </h3>
            </div>
            <div class="col-3-xs col-2-md" ng-click="vm.reverse=!vm.reverse; vm.order('open', vm.reverse)">
                <h3>
                    Status
                </h3>
            </div>
            <div class="date col-1-xs col-2-md " ng-click="vm.reverse=!vm.reverse; vm.order('dateRaised', vm.reverse)">
                <h3>
                    Created
                </h3>
            </div>
        </div>
        <div ng-repeat="ticket in vm.ticketsToShow" ng-click="vm.goToTicket(ticket.id)">
            <div class="flex-row table-row">
                <div class="col-3-xs col-2-md ">{{ticket.name}}</div>
                <div class="type col-1-xs col-2-md">{{ticket.priority}}</div>
                <div class="col-3-xs col-2-md ">{{ticket.website.name}}</div>
                <div class=" team col-1-xs col-2-md">{{ticket.team.name}}</div>
                <div class="col-3-xs col-2-md ">{{ticket.open ? "Open" : "Closed"}}</div>
                <div class="date col-1-xs col-2-md">{{ticket.dateRaised | date: 'short'}}</div>
            </div>
        </div>
    </div>
