<div id="wrapper">
    <section class="intro">
        <h3>Welcome to Early Bird!</h3>
        <p>Click one of the methods of communication below:</p>
    </section>
    <div class="row">
        <ul id="gallery">
            <li class="col-3-md col-6-xs"><a href="http://facebook.com"><img src="Media/facebook.png" alt="facebook" /></a></li>
            <li class="col-3-md col-6-xs"><a href="http://instagram.com"><img src="Media/instagram.png" alt="instagram" class="contact-icon-right" /></a></li>
            <li class="col-3-md col-6-xs"><a href="http://twitter.com"><img src="Media/twitter.jpg" alt="twitter" class="contact-icon-left" /></a></li>
            <li class="col-3-md col-6-xs"><a href="http://mail.vintagesoftware.com"><img src="Media/email.svg" alt="email" class="contact-icon-right" /></a></li>
        </ul>
    </div>
</div>