.chat-input {
    margin: 10px;
    width: 60%;
    height: 50px;
    border: none;
    background-color: $sidebar;
    overflow: auto;
    font-size: 1.1em;

    text-area {
        resize: none;
    }
}

.chat-pane {

    ul {
        max-height: 400px;
        overflow: hidden auto;
        overflow-y: scroll;
        background: $sidebar;
        padding-left: 0;
        min-height: 400px;
    }

    li {
        overflow-wrap: break-word;
        list-style: none;
        padding: 5px 20px;
        border-bottom: solid #c4c4c4 1px;
        font-weight: bold;
        font-family: sans-serif;
        color: $dark-blue-primary;
    }
}
