$nav-color: #2980b9;
$sidebar-color: #2c3e50;
$secondary-color: #e74c3c;
$red-primary: #c0392b;
$red-secondary: #e74c3c;
$blue-primary: #2980b9;
$blue-secondary: #3498db;
$green-primary: #27ae60;
$green-secondary: #2ecc71;
$aqua-primary: #16a085;
$aqua-secondary:#1abc9c;
$dark-blue-primary: #2c3e50;
$dark-blue-secondary: #34495e;
$purple-primary: #8e44ad;
$purple-secondary: #9b59b6;
$background: #bdc3c7;
$sidebar: #ecf0f1;

@mixin button($color) {
    color: #ffffff;
    font-size: 20px;
    border: none;
    box-shadow: 0 5px 0 0 darken($color, 10);
    background: $color;
    height: 50px;
    width: 125px;
    text-decoration: none;
    margin: 10px auto;
    display: block;
    border-radius: 10px;

    &:hover {
        background: darken($color, 2.5);
    }

    &:active {
        background: darken($color, 5);
        box-shadow: 0 2.5px 0 0 darken($color, 10);
    }
    &:focus {
        outline: 0;
    }
    &:disabled {
        color: darkgray;
        background: lighten(desaturate($color, 40), 40);
        box-shadow: 0 5px 0 0 lighten(desaturate($color, 40), 30);
    }
}

@mixin table-creator($primary-color, $secondary-color) {
    background-color: $secondary-color;
    margin-bottom: 40px;

    @media(max-width: 800px) {
        font-size: .8rem;
        font-weight: normal;
    }

    .flex-row {
        margin-bottom: 0;
    }

    h1 {
        margin: 0;
        line-height: 2.5rem;
        padding: 40px 0 40px 30%;
        font-size: 2.5rem;
        color: white;
    }

    .table-button {
        float: right;
        margin: 30px 10px;
    }

    .table-row {
        padding-top: 5px;
        border-bottom: solid #c4c4c4 1px;
        background-color: $sidebar;
        font-weight: bold;

        &:hover {
            background-color: lighten(complement($primary-color), 40);
            cursor: pointer;
        }
    }

    .col-2-md, .col-3-xs, .col-4-xs, .col-12-xs, .col-6-xs {
        padding: 8px;
    }

    #table-title-row {
        color: white;
        background-color: $primary-color;
        font-weight: bold;
        font-size: 1.2em;
        margin-bottom: 0;

        h3 {
            margin: 0;
        }
    }
}

@mixin title-white {
    text-align: center;
    color: white;
}


body {
    background-color: $background;
}

.red-flat-button {
    @include button($red-primary);
}

.green-flat-button {
    @include button($green-primary);
}

.blue-flat-button {
    @include button($blue-primary);
}

.purple-flat-button {
    @include button(#8e44ad);
}

.dark-blue-flat-button {
    @include button($dark-blue-primary);
}


.inline-left {
    text-align: left;
    display: inline-block;
    float: left;
}

.inline-right {
    text-align: right;
    display: inline-block;
    float: right;
}

.margin-none {
    margin: 0;
}

.padding-none {
    padding: 0;
}

.back-button {
    float: left;
    color: white;
    padding: 15px 0 0 15px;
}

textarea {
    resize: none;
}

hr {
    margin-bottom: 25px;
}
