#ticket-charts-wrapper {
    margin-top: 40px;
    background-color: $green-secondary;
    padding: 25px;
    margin-bottom: 40px;

    h1 {
        color: white;
        text-align: center;
    }

}

.data-chart {
    border: 15px solid $green-primary;
    background: $sidebar;
    width: 100%;

    h2 {
        background-color: $green-primary;
        color: white;
        display: block;
        padding: .5em;
        text-align: center;
    }

}