body {
  background-color: #bdc3c7; }

.red-flat-button {
  color: #ffffff;
  font-size: 20px;
  border: none;
  box-shadow: 0 5px 0 0 #962d22;
  background: #c0392b;
  height: 50px;
  width: 125px;
  text-decoration: none;
  margin: 10px auto;
  display: block;
  border-radius: 10px; }
  .red-flat-button:hover {
    background: #b63629; }
  .red-flat-button:active {
    background: #ab3326;
    box-shadow: 0 2.5px 0 0 #962d22; }
  .red-flat-button:focus {
    outline: 0; }
  .red-flat-button:disabled {
    color: darkgray;
    background: #e4d5d3;
    box-shadow: 0 5px 0 0 #d0b6b4; }

.green-flat-button {
  color: #ffffff;
  font-size: 20px;
  border: none;
  box-shadow: 0 5px 0 0 #1e8449;
  background: #27ae60;
  height: 50px;
  width: 125px;
  text-decoration: none;
  margin: 10px auto;
  display: block;
  border-radius: 10px; }
  .green-flat-button:hover {
    background: #25a45a; }
  .green-flat-button:active {
    background: #229955;
    box-shadow: 0 2.5px 0 0 #1e8449; }
  .green-flat-button:focus {
    outline: 0; }
  .green-flat-button:disabled {
    color: darkgray;
    background: #c6dbcf;
    box-shadow: 0 5px 0 0 #a6c8b4; }

.blue-flat-button {
  color: #ffffff;
  font-size: 20px;
  border: none;
  box-shadow: 0 5px 0 0 #20638f;
  background: #2980b9;
  height: 50px;
  width: 125px;
  text-decoration: none;
  margin: 10px auto;
  display: block;
  border-radius: 10px; }
  .blue-flat-button:hover {
    background: #2779af; }
  .blue-flat-button:active {
    background: #2472a4;
    box-shadow: 0 2.5px 0 0 #20638f; }
  .blue-flat-button:focus {
    outline: 0; }
  .blue-flat-button:disabled {
    color: darkgray;
    background: #ced9e0;
    box-shadow: 0 5px 0 0 #aec1cd; }

.purple-flat-button {
  color: #ffffff;
  font-size: 20px;
  border: none;
  box-shadow: 0 5px 0 0 #703688;
  background: #8e44ad;
  height: 50px;
  width: 125px;
  text-decoration: none;
  margin: 10px auto;
  display: block;
  border-radius: 10px; }
  .purple-flat-button:hover {
    background: #8640a4; }
  .purple-flat-button:active {
    background: #7f3d9b;
    box-shadow: 0 2.5px 0 0 #703688; }
  .purple-flat-button:focus {
    outline: 0; }
  .purple-flat-button:disabled {
    color: darkgray;
    background: #dfdde0;
    box-shadow: 0 5px 0 0 #c6c3c7; }

.dark-blue-flat-button {
  color: #ffffff;
  font-size: 20px;
  border: none;
  box-shadow: 0 5px 0 0 #1a242f;
  background: #2c3e50;
  height: 50px;
  width: 125px;
  text-decoration: none;
  margin: 10px auto;
  display: block;
  border-radius: 10px; }
  .dark-blue-flat-button:hover {
    background: #273848; }
  .dark-blue-flat-button:active {
    background: #233140;
    box-shadow: 0 2.5px 0 0 #1a242f; }
  .dark-blue-flat-button:focus {
    outline: 0; }
  .dark-blue-flat-button:disabled {
    color: darkgray;
    background: #a4a4a4;
    box-shadow: 0 5px 0 0 #8b8b8b; }

.inline-left {
  text-align: left;
  display: inline-block;
  float: left; }

.inline-right {
  text-align: right;
  display: inline-block;
  float: right; }

.margin-none {
  margin: 0; }

.padding-none {
  padding: 0; }

.back-button {
  float: left;
  color: white;
  padding: 15px 0 0 15px; }

textarea {
  resize: none; }

hr {
  margin-bottom: 25px; }

/**********************
    Header
*********************/
.title {
  color: white;
  text-align: center; }

header {
  z-index: 2;
  width: 100%;
  position: fixed;
  top: 0; }

#PrimaryHeader {
  margin: 0;
  background: #2980b9;
  padding: 20px 0 15px;
  color: white;
  box-shadow: #20638f 0 5px 0 0;
  /*border-radius:0 0 5px 5px;*/ }
  #PrimaryHeader #logo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-decoration: none;
    text-anchor: end;
    text-align: center; }
  #PrimaryHeader h1 {
    margin: 0; }

/*******************
    Sidebar
******************/
#Sidebar {
  z-index: 1;
  background-color: #ecf0f1;
  position: fixed;
  padding-top: 64px;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 150px;
  color: #2c3e50;
  /*@media(max-width: 640px) {
      display: none;
  }*/ }
  #Sidebar a {
    display: block;
    text-decoration: none;
    color: inherit; }
  #Sidebar .selected, #Sidebar a:hover {
    color: white;
    background-color: #2c3e50; }
  #Sidebar h3 {
    padding: 10px 5px;
    margin-bottom: 0;
    border-bottom: solid #c4c4c4 1px; }
  #Sidebar ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0; }
    #Sidebar ul li {
      border-bottom: solid #c4c4c4 1px; }
      #Sidebar ul li a {
        padding: 5px 10px 5px 20px;
        width: 100%;
        height: 100%;
        font-size: 1.1em;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

#mobile-nav {
  width: 95%;
  margin: auto;
  display: none;
  /*@media (max-width: 640px) {
      display: block;
  }*/ }

/********************
    Body
********************/
#Wrapper {
  max-width: 1500px;
  margin: 0 auto;
  padding: 90px 5% 10px 175px;
  /*@media (max-width: 640px) {
      padding: 90px 2.5% 10px;
  }*/ }

#ticket {
  width: 90%;
  max-width: 675px;
  min-width: 526.5px;
  margin: 0 auto;
  padding-bottom: 10px;
  color: white;
  background-color: #8e44ad; }
  #ticket h1 {
    text-align: center;
    color: white;
    font-size: 2em;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 0;
    line-height: 1.5em;
    display: block; }
    @media (max-width: 660px) {
      #ticket h1 {
        padding: 10px; } }
  #ticket h2 {
    font-size: 1.2rem; }
  #ticket section {
    background-color: white;
    border: solid 25px #8e44ad;
    border-top: none;
    color: black;
    padding: 2em 10%; }
  #ticket .info {
    color: #c0392b; }
  #ticket .closed {
    background-color: #c0392b; }
  #ticket #description {
    font-family: sans-serif;
    margin: 0 30px 30px;
    font-size: 1.2em;
    padding: .5rem 5%;
    background-color: #eee; }
  #ticket textarea {
    width: 90%;
    height: 150px;
    resize: none; }
  #ticket #add-note-box {
    margin: 0 30px 30px;
    font-size: 1.2em;
    padding: .5rem 5%;
    background-color: #eee; }
  #ticket #notes {
    font-family: sans-serif;
    min-height: 1.2em;
    margin: 0 30px 30px;
    font-size: 1.2em;
    padding: .5rem 5%;
    background-color: #eee; }

#ticket-table {
  background-color: #e74c3c;
  margin-bottom: 40px; }
  @media (max-width: 800px) {
    #ticket-table {
      font-size: .8rem;
      font-weight: normal; } }
  #ticket-table .flex-row {
    margin-bottom: 0; }
  #ticket-table h1 {
    margin: 0;
    line-height: 2.5rem;
    padding: 40px 0 40px 30%;
    font-size: 2.5rem;
    color: white; }
  #ticket-table .table-button {
    float: right;
    margin: 30px 10px; }
  #ticket-table .table-row {
    padding-top: 5px;
    border-bottom: solid #c4c4c4 1px;
    background-color: #ecf0f1;
    font-weight: bold; }
    #ticket-table .table-row:hover {
      background-color: #c5eef2;
      cursor: pointer; }
  #ticket-table .col-2-md, #ticket-table .col-3-xs, #ticket-table .col-4-xs, #ticket-table .col-12-xs, #ticket-table .col-6-xs {
    padding: 8px; }
  #ticket-table #table-title-row {
    color: white;
    background-color: #c0392b;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0; }
    #ticket-table #table-title-row h3 {
      margin: 0; }
  @media (max-width: 1150px) {
    #ticket-table .date, #ticket-table .type, #ticket-table .team {
      visibility: hidden; } }

#team-table {
  background-color: #9b59b6;
  margin-bottom: 40px; }
  @media (max-width: 800px) {
    #team-table {
      font-size: .8rem;
      font-weight: normal; } }
  #team-table .flex-row {
    margin-bottom: 0; }
  #team-table h1 {
    margin: 0;
    line-height: 2.5rem;
    padding: 40px 0 40px 30%;
    font-size: 2.5rem;
    color: white; }
  #team-table .table-button {
    float: right;
    margin: 30px 10px; }
  #team-table .table-row {
    padding-top: 5px;
    border-bottom: solid #c4c4c4 1px;
    background-color: #ecf0f1;
    font-weight: bold; }
    #team-table .table-row:hover {
      background-color: #d9edd0;
      cursor: pointer; }
  #team-table .col-2-md, #team-table .col-3-xs, #team-table .col-4-xs, #team-table .col-12-xs, #team-table .col-6-xs {
    padding: 8px; }
  #team-table #table-title-row {
    color: white;
    background-color: #8e44ad;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0; }
    #team-table #table-title-row h3 {
      margin: 0; }

#website-table {
  background-color: #3498db;
  margin-bottom: 40px;
  /*h1 {
      background-image: url(/Media/earth.png);
      background-size: 75px;
      background-position: left center;
      background-repeat: no-repeat;
  }*/ }
  @media (max-width: 800px) {
    #website-table {
      font-size: .8rem;
      font-weight: normal; } }
  #website-table .flex-row {
    margin-bottom: 0; }
  #website-table h1 {
    margin: 0;
    line-height: 2.5rem;
    padding: 40px 0 40px 30%;
    font-size: 2.5rem;
    color: white; }
  #website-table .table-button {
    float: right;
    margin: 30px 10px; }
  #website-table .table-row {
    padding-top: 5px;
    border-bottom: solid #c4c4c4 1px;
    background-color: #ecf0f1;
    font-weight: bold; }
    #website-table .table-row:hover {
      background-color: #f0d2be;
      cursor: pointer; }
  #website-table .col-2-md, #website-table .col-3-xs, #website-table .col-4-xs, #website-table .col-12-xs, #website-table .col-6-xs {
    padding: 8px; }
  #website-table #table-title-row {
    color: white;
    background-color: #2980b9;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0; }
    #website-table #table-title-row h3 {
      margin: 0; }

#ticket-charts-wrapper {
  margin-top: 40px;
  background-color: #2ecc71;
  padding: 25px;
  margin-bottom: 40px; }
  #ticket-charts-wrapper h1 {
    color: white;
    text-align: center; }

.data-chart {
  border: 15px solid #27ae60;
  background: #ecf0f1;
  width: 100%; }
  .data-chart h2 {
    background-color: #27ae60;
    color: white;
    display: block;
    padding: .5em;
    text-align: center; }

#form-wrapper {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 40px;
  background-color: #8e44ad; }
  #form-wrapper h1 {
    text-align: center;
    color: white;
    font-size: 2em;
    text-align: center;
    background-color: #8e44ad;
    padding: 20px 0;
    margin: 0; }

#ticket-creator {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 10px;
  background-color: white; }
  @media (max-width: 660px) {
    #ticket-creator {
      width: 90%; } }
  #ticket-creator input, #ticket-creator textarea, #ticket-creator select {
    margin: 0 0 30px 70px;
    width: 60%;
    color: #c0392b;
    font-size: 1.1rem;
    background-color: #ecf0f1;
    display: block;
    border: none;
    padding: 5px; }
    @media (max-width: 660px) {
      #ticket-creator input, #ticket-creator textarea, #ticket-creator select {
        width: 80%;
        margin: 0 0 20px 5px;
        font-size: .8em; } }
  #ticket-creator label {
    text-align: left;
    margin-left: 70px;
    font-size: 1.3em; }
    @media (max-width: 660px) {
      #ticket-creator label {
        font-size: 1.1em;
        margin-left: 5px; } }
  #ticket-creator fieldset {
    border: none;
    margin: 0; }

#team-detail-wrapper {
  width: 90%;
  margin: 0 auto;
  background-color: #16a085;
  padding: 20px 20px 0 20px; }
  #team-detail-wrapper > h1 {
    color: white;
    text-align: center;
    display: block;
    padding: 15px;
    font-size: 2.5em; }
  #team-detail-wrapper h2 {
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0; }
  #team-detail-wrapper .data-pane {
    background-color: #1abc9c; }
  #team-detail-wrapper ul {
    background: #ecf0f1;
    padding-left: 0;
    min-height: 400px; }
    #team-detail-wrapper ul li {
      list-style: none;
      padding: 5px 20px;
      border-bottom: solid #c4c4c4 1px;
      font-weight: bold;
      font-family: sans-serif;
      color: #2c3e50; }
      #team-detail-wrapper ul li:hover {
        background-color: #fcecef;
        cursor: pointer; }

#team-creator {
  display: inline;
  padding: 30px 20px;
  background-color: #9b59b6; }
  #team-creator label {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    margin: 0; }
  #team-creator input {
    height: 100%;
    font-size: 1.5rem;
    margin-left: 10px;
    color: black; }
  #team-creator .green-flat-button {
    display: inline-block;
    margin-left: 20px; }

/*# sourceMappingURL=style.css.map */
